@{
    ViewData["Title"] = "預估庫存查詢";
}

<div class="container mt-4">
    <h3 class="mb-4">預估庫存查詢</h3>
    <form id="inventoryQueryForm">
        <div class="row mb-3">
            <div class="col-md-6 mb-2 mb-md-0">
                <div class="d-inline-flex col-12">
                    <label for="endDate" class="col-4 text-end" style="margin-top:5px;">入庫日期</label>
                    <input type="date" class="form-control col-8" name="endDate" id="endDate" required>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success w-100">查詢</button>
            </div>
            <div class="col-md-3">
                <button type="reset" class="btn btn-warning w-100">清除</button>
            </div>
            <div class="col-md-6"></div>
        </div>
    </form>
    <hr />
    <div class="table-container mt-4">
        <table class="display" id="table_id">
            <thead>
                <tr>
                    <th>庫別</th>
                    <th>庫別名稱</th>
                    <th>品號</th>
                    <th>品名</th>
                    <th>現有庫存量</th>
                    <th>預估入庫量</th>
                    <th>合計入庫量</th>
                </tr>
            </thead>
            <tbody>
                <!-- 這裡的數據將由 AJAX 加載 -->
            </tbody>
        </table>
    </div>
</div>

<script>
    // 查詢日期為今天
    const today = new Date();
    $("#endDate").val(today.toISOString().split('T')[0]);


    $(document).ready(function () {
        // 初始化 DataTable
        var table = $('#table_id').DataTable({
            scrollY: '400px',
            scrollCollapse: true,
            fixedHeader: true,
            processing: true,
            serverSide: false,
            language: {
                "lengthMenu": "顯示 _MENU_ 筆資料",
                "sZeroRecords": "没有匹配结果",
                "sInfo": "目前有 _MAX_ 筆資料",
                "sInfoEmpty": "目前共有 0 筆紀錄",
                "sInfoFiltered": " ",
                "sInfoPostFix": "",
                "sSearch": "搜尋:",
                "sUrl": "",
                "sEmptyTable": "尚未有資料紀錄存在",
                "sLoadingRecords": "載入資料中...",
                "sInfoThousands": ",",
                "oPaginate": {
                    "sFirst": "首頁",
                    "sPrevious": "上一頁",
                    "sNext": "下一頁",
                    "sLast": "末頁"
                },
                "order": [[0, "desc"]],
                "oAria": {
                    "sSortAscending": ": 以升序排列此列",
                    "sSortDescending": ": 以降序排列此列"
                }
            },
            "ajax": {
                "url": "@Url.Action("GetPredictedPartNos", "Home")", // AJAX 請求的 URL
                "type": "GET",
                "data": function (d) {
                    d.endDate = $('#endDate').val(); // 傳遞結束日期
                },
                "error": function (xhr, error, code) {
                    console.error("AJAX Error: ", code);
                    console.error("XHR: ", xhr);
                    alert('發生錯誤: ' + xhr.responseText);
                }
            },
            "columns": [
                { "data": "stockNum"},
                { "data": "stockName"},
                { "data": "partNo" },
                { "data": "name" },
                { "data": "num" },
                { "data": "preNum" },
                { "data": "totalNum" }
            ],
            "initComplete": function () {
                $('#table_id').show(); // 表格初始化完成後顯示
            },
            "columnDefs": [{
                targets: [0,1,2],
                width: "10%",
                className: "text-center"
            }, {
                targets: [4,5,6],
                width: "12%",
                className: "text-center"
            }, {
                targets: [3],
                width: "34%"
            }]
        });

        // 查詢表單提交事件
        $('#inventoryQueryForm').on('submit', function (e) {
            e.preventDefault(); // 防止表單提交
            table.ajax.reload(); // 重新加載表格數據
        });
    });
</script>
