<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - QDM_料品轉換查詢</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/QDM_PartNoSearch.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <!-- 引入 jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 引入 Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 引入 DataTables -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <!-- 自定義的 JavaScript 文件 -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- 渲染額外的腳本 -->
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <!-- 遮罩層 -->
    <div id="overlay" class="overlay"></div>
    <!-- 載入圈圈 -->
    <div id="loading" class="spinner"></div>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="HomePage">首頁</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="wrapper">
        <!-- 側邊欄 -->
        <nav id="sidebar">
            <button type="button" id="sidebarCollapse" class="btn btn-link">
                <i class="fas fa-chevron-left"></i>
            </button>
            <ul class="list-unstyled components ms-3">
                <li class="nav-item"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">料品轉換料號查詢</a></li>
                <li class="nav-item"><a class="navbar-brand" asp-area="" asp-controller="Wms" asp-action="StoreNum">日翊暢流庫存查詢</a></li>
                @* <li class="nav-item"><a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="OrderList">預估庫存查詢</a></li> *@
            </ul>
        </nav>
        <!-- 頁面內容 -->
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - 轉換料號查詢
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            // 處理側邊欄的展開和收起
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).find('i').toggleClass('fa-chevron-left fa-chevron-right');
            });
           
            // 處理載入動畫
            $('#sidebar .nav-item a').on('click', function (event) {
                //event.preventDefault(); // 阻止預設跳轉

                const spinner = $('#loading');
                const overlay = $('#overlay');
                spinner.show(); // 顯示載入圈圈
                overlay.show(); // 顯示遮罩層
            });

            window.addEventListener('beforeunload', function () {
                // 顯示載入動畫
                $('#loading').show();
                $('#overlay').show();
            });

            // 監聽頁面加載完成事件
            $(window).on('load', function () {
                // 隱藏載入動畫
                $('#loading').hide();
                $('#overlay').hide();
            });
               
        });

    </script>
</body>
</html>
