@{
    ViewData["Title"] = "庫存查詢";
}
@{
    var accessToken = ViewBag.AccessToken as string;
}

@if (!string.IsNullOrEmpty(accessToken) && !accessToken.StartsWith("無法") && !accessToken.StartsWith("發生錯誤"))
{
    <p>Access Token: @accessToken</p>
}
else
{
    <p>@accessToken</p>
}
